
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div align="center">
        <h1>
            Welcome to core MVC application
            <br/>
            @ViewBag.msg1
            <br/>
            @ViewBag.msg2
        </h1>
    </div>
</body>
</html>
